<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <header>
      <title>
        <%= title %>
      </title>
      <link rel="stylesheet" href="/stylesheets/style.css">
    </header>

    <h1>
          <%= message %>
    </h1>
    <h2>
          <%= error.status %>
    </h2>
</body>
</html>
