<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container">

    <header>
      <title>
        <%= title %>
      </title>      
    </header>

    <input type="text" size="40" placeholder="Type your email" id="email"><br />
    <input type="password" size="40" placeholder="Type your password" id="password"><br />
    <input type="button" value="Submit" id="submit">
</body>
</html>
